<div class="row container">
  <div class="col md:col-2 left-nav">
    <div class="container-img">
      <% if current_user.photo.present? %>
        <%= cl_image_tag(current_user.photo.key, class: "avatar-dash", alt: "User Avatar") %>
      <% else %>
        <%= image_tag("default_avatar.png", class: "avatar-dash", alt: "Default Avatar") %>
      <% end %>
    </div>
    <div>
      <%= link_to "My Profile", user_path(@user), class: "btn btn-info buttons-dash" %>
    </div>
    <div>
      <%= link_to "My Messages", new_user_booking_path(@user), class: "btn btn-info buttons-dash" %>
    </div>
    <div>
      <%= link_to "My History", new_user_booking_path(@user), class: "btn btn-info buttons-dash" %>
    </div>
    <div>
      <%= link_to "Book A Lesson", new_user_booking_path(@user), class: "btn btn-info buttons-dash" %>
    </div>
  </div>
  <div class="row col-10">
    <h1>Welcome to your dashboard, <%= @user.email %>!</h1>
    <h2>My Calander</h2>
      <div>
      <%= link_to "View My Monthly Calendar", user_calendars_month_path(@user), class: "btn btn-info rounded-pill" %>
      </div>
        <%= render partial: "calendars/week" %>
      <h2>Most Recent Client Message</h2>
            <div class="d-flex justify-content-center">
      <i>You don't have any recent messages at this time.</i>
      </div>
    </div>
  </div>
</div>
