<div class="container-dash" data-controller="weekly-calendar">
  <div class="row sidebar-container" data-controller="dashboard-forms">
      <%= render partial: "dashboard/sidebar" %>
    <div class="col-10">
  <% if @show_welcome_message %>
  <div class="alert alert-warning alert-dismissible fade show row col-3" role="alert">
    Welcome to your dashboard, <%= @user.email %>!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
      <h2 class="dash2-h2">My Dashboard</h2>
        <div>
        <%= link_to "View My Monthly Calendar", user_calendars_month_path(@user), class: "buttons-dash-month-view  rounded-pill " %>
        </div>
        <div id="calendar-render-space" class="calendar-render" data-weekly-calendar-target="calendarRenderSpace">
          <%= render partial: "calendars/week" %>
        <div class="availabilities-render-space d-none" data-dashboard-forms-target="availabilitiesForm">
        <%= render partial: "availabilities/new_form", availability: @availability %>
        </div>
        <h2 class="dash-h2">Most Recent Client Message</h2>
              <div class="d-flex justify-content-center">
        <i>You don't have any recent messages at this time.</i>
        </div>
      </div>
    </div>
  </div>
</div>
