<div class="d-flex justify-content-between gap-2" data-controller="weekly-calendar">
  <div class="sidebar-container">
    <%= render partial: "dashboard/sidebar" %>
  </div>
  <%# END SIDEBAR %>
  <div class="col-10">
    <h2 class="dash2-h2">This is the profile page of: <%= @user.email %></h2>
    <%= link_to "This user's Calendar", user_calendars_month_path(@user), class: "btn btn-info rounded-pill" %>
    <%= link_to "New availability", new_user_availability_path(@user), class: "btn btn-info rounded-pill" %>
    <p></p>
    <h2 class="dash2-h2">Other Users:</h2>
    <% users_all = User.all %>
    <% if users_all.any? %>
      <% users_all.each do |user| %>
        <%= link_to user.email, user_path(user), class: "btn btn-info rounded-pill" %>
      <% end %>
    <% end %>
  </div>
