<div class="dashboard-row d-flex">
  <div class="sidebar-container">
    <%= render partial: "dashboard/sidebar" %>
  </div>

  <div class="container-c mx-3" data-controller="weekly-calendar">
    <div class="row-i">
      <div class="clients-list">
        <% @clients.each do |client| %>
          <%= link_to user_client_path(params[:user_id], client), class: "client-card-i-link" do %>
            <div class="client-card-i">
              <% if client.photo.present? %>
                <%= cl_image_tag(client.photo.key, class: "avatar-i img-fluid rounded-circle", alt: "User Avatar") %>
              <% else %>
                <%= image_tag("default_avatar.png", class: "avatar-i img-fluid rounded-circle", alt: "Default Avatar") %>
              <% end %>
              <div class="card-client-profile-infos-i font-i">
                <h2><b><%= client.name %></b></h2>
                <% if client.nickname.present? %>
                  <p><strong class="font-i">Nickname:</strong> <%= client.nickname %></p>
                <% end %>
                <p><strong class="font-i">LineID:</strong> <%= client.lineid %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
