<div class="d-flex justify-content-between gap-2" data-controller="weekly-calendar">
  <div class="sidebar-container">
    <%= render partial: "dashboard/sidebar" %>
  </div>
  <%# END SIDEBAR %>
  <div class="profile_container mx-3">
    <h2 class="client-h2"> <%= @client.name %>'s Client Profile</h2>
    <%# START USER CARD %>
    <div class="three-cards d-flex flex-row justify-content-between flex-wrap">
      <div class="">
        <div class="card-client-profile">
<% if @client.photo.present? %>
                <%= cl_image_tag(@client.photo.key, class: "avatar img-fluid rounded-circle", alt: "User Avatar" ) %>
              <% else %>
                <%= image_tag("default_avatar.png", class: "avatar img-fluid rounded-circle", alt: "Default Avatar") %>
              <% end %>
          <div class="card-client-profile-infos">
            <h2><%= @client.name %></h2>
            <%# <h3>Nickname</h3> %>
            <% if @client.nickname %>
              <p><strong>Nickname:</strong> <%= @client.nickname %> </p>
            <% end %>
            <p><strong>LineID:</strong> <%= @client.lineid %> </p>
            <p><strong>Phone Number:</strong> <%= @client.phone_number %> </p>
            <%= link_to "Edit Client Information...", edit_user_client_path(@user, @client), class: "nil" %>
          </div>
        </div>
      </div>
      <%# END USER CARD %>
      <%# START BOOKING CARD %>
      <div class="">
        <div class="d-flex justify-content-center">
          <div class="card bg-light mb-3 week-card" style="max-width: 18rem;">
            <div class="card-header">
              <p><i class="fa-solid fa-clock"></i>
                <%= @client.bookings.last.start_time.strftime("%I:%M%p") %> -
                <%= @client.bookings.last.end_time.strftime("%I:%M%p") %> </div>
              <div class="card-body text-center">
                <h5 class="card-title"><i class="fa-solid fa-user"></i> w/ <strong><%= @client.bookings.last.client.name %></strong></h5>
                <p class="card-text">
                  <%= @client.bookings.last.status.capitalize %>
                </p>
                <% if @client.bookings.last.user == current_user %>
                  <% if @client.bookings.last.status == "pending" %>
                    <div>
                      <%= link_to 'Accept', accept_user_booking_path(user_id: @client.bookings.last.user_id, id: @client.bookings.last.id), class: "btn btn-success" %>
                      <%= link_to 'Decline', decline_user_booking_path(user_id: @client.bookings.last.user_id, id: @client.bookings.last.id), class: "btn btn-danger" %>
                    </div>
                  <% end %>
                <% end %>
                <p></p>
                <button type="button" class="btn btn-warning"><%= link_to 'See more...', user_booking_path(user_id: @client.bookings.last.user_id, id: @client.bookings.last.id), class: "see-more" %></button>
              </div>
            </div>
          </div>
        </div>
        <%# END BOOKING CARD %>
        <%# START NOTES%>
        <div class="">
          <div class="card-notes">
            <div class="card-notes-infos">
              <h2>NOTES</h2>
              <div class="displayed_notes">
                <% if @client.notes.any? %>
                  <% @client_notes = @client.notes.order(created_at: :desc).first(3) %>
                  <% @client_notes.each do |note| %>
                    <p><strong><%= note.created_at.to_date %></strong> - <%= note.text %> </p>
                  <% end %>
                <% end %>
              </div>
              <div class="new-notes-container">
                <%= render partial: "notes/new_form", note: @note %>
              </div>
            </div>
          </div>
        </div>
        <%# END NOTES%>
        <%# START PAYMENTS%>
        <div class="col-12 col-lg-8 flex-grow-1">
          <div class="card-client-profile flex-grow-1 w-100 h-100">
            <div class="card-client-profile-infos">
              <h2>PAYMENT</h2>
              <br>
              <div class="table-responsive">
                <table class="table payment">
                  <thead>
                    <tr>
                      <th scope="col">Payment Date</th>
                      <th scope="col">Payment Method</th>
                      <th scope="col">Payment Amount</th>
                      <th scope="col">Payment Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>August 20, 2024</td>
                      <td>Bank Transfer</td>
                      <td>짜6000</td>
                      <td>PAID</td>
                    </tr>
                    <tr>
                      <td>August 09, 2024</td>
                      <td>Bank Transfer</td>
                      <td>짜6000</td>
                      <td>PAID</td>
                    </tr>
                    <tr>
                      <td>July 15, 2024</td>
                      <td>Bank Transfer</td>
                      <td>짜6000</td>
                      <td>PAID</td>
                    </tr>
                    <tr>
                      <td>July 07, 2024</td>
                      <td>Bank Transfer</td>
                      <td>짜6000</td>
                      <td>PAID</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%# END PAYMENTS%>
    </div>
  </div>
