<div class="banner">
  <h1>Explore your</h1>
  <h1 class="highlight">performance</h1>
  <%= image_tag "home/banner-1.jpg", alt: "Banner img", class: "banner-img" %>
</div>

<div class="orange-section" id="orangeSection">
  <h2>Connect to your students is effortless</h2>
  <p>Make your bookings through line</p>
  <%= image_tag "home/line1.png", alt: "Line img", class: "line-img" %>
</div>

<div class="red-section" id="redSection">
  <div class="images-container-1">
    <%= image_tag "home/appo1.png", alt: "appo1 img", class: "appo-img-1" %>
  </div>
  <div class="images-container-2">
    <%= image_tag "home/appo2.png", alt: "appo2 img", class: "appo-img-2" %>
  </div>
  <div class="title-home">
    <h2>Real-time updates</h2>
    <p>Bookings automatically update to your calendar</p>
  </div>
</div>

<div class="white-section" id="whiteSection">
  <div class="join-us-content">
    <h2>Interested?</h2>
    <h2>JOIN US!</h2>

    <a href="#" class="sign-up-button">Sign in</a>
  </div>
</div>

<footer class="footer">
  <h2 class="footer-title"><b>LINGUA LINK</b></h2>
  <div class="sns-icons">
    <a href="#"><%= image_tag 'facebook.png', alt: 'Facebook' %></a>
    <a href="#"><%= image_tag 'linkedin.png', alt: 'LinkedIn' %></a>
    <a href="#"><%= image_tag 'instagram.png', alt: 'Instagram' %></a>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const buttons = document.querySelectorAll('.object-button');
    const descriptions = document.querySelectorAll('.description-content');

    buttons.forEach(button => {
      button.addEventListener('click', function() {
        descriptions.forEach(desc => desc.classList.remove('active'));
        const descriptionId = button.getAttribute('data-description');
        document.getElementById(descriptionId).classList.add('active');
        buttons.forEach(btn => btn.classList.remove('clicked'));
        button.classList.add('clicked');
      });
    });

    window.addEventListener('scroll', function() {
      const orangeSection = document.getElementById('orangeSection');
      if (window.scrollY > 500) {
        orangeSection.classList.add('visible');
      } else {
        orangeSection.classList.remove('visible');
      }
    });
  });
</script>
