<div class="banner">
  <h1>Join the team</h1>
  <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>

<div class="orange-section" id="orangeSection">
  <h2>Connect to your students is effortless</h2>
  <p>Make your bookings through line</p>
  <%= image_tag "home/line1.png", alt: "Line img", class: "line-img" %>
</div>

<div class="red-section" id="redSection">
  <div class="images-container-1">
    <%= image_tag "home/appo1.png", alt: "appo1 img", class: "appo-img-1" %>
  </div>
  <div class="images-container-2">
    <%= image_tag "home/appo2.png", alt: "appo2 img", class: "appo-img-2" %>
  </div>
  <div class="title-home">
    <h2>Real-time updates</h2>
    <p>Bookings automatically update to your calendar</p>
  </div>
</div>

<div class="white-section" id="whiteSection">
  <div class="join-us-content">
    <%# <h2>Interested?</h2> %>
    <h2><b>JOIN US!</b></h2>
     <%= link_to new_user_registration_path, class: 'cssbuttons-io-button' do %>
      SIGN UP
      <div class="icon">
        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path>
        </svg>
      </div>
    <% end %>
  </div>
</div>



<footer class="footer">
  <h2 class="footer-title"><b>LINGUA LINK</b></h2>
  <div class="sns-icons">
    <a href="#"><%= image_tag 'facebook.png', alt: 'Facebook' %></a>
    <a href="#"><%= image_tag 'linkedin.png', alt: 'LinkedIn' %></a>
    <a href="#"><%= image_tag 'instagram.png', alt: 'Instagram' %></a>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const buttons = document.querySelectorAll('.object-button');
    const descriptions = document.querySelectorAll('.description-content');

    buttons.forEach(button => {
      button.addEventListener('click', function() {
        descriptions.forEach(desc => desc.classList.remove('active'));
        const descriptionId = button.getAttribute('data-description');
        document.getElementById(descriptionId).classList.add('active');
        buttons.forEach(btn => btn.classList.remove('clicked'));
        button.classList.add('clicked');
      });
    });

    window.addEventListener('scroll', function() {
      const orangeSection = document.getElementById('orangeSection');
      if (window.scrollY > 500) {
        orangeSection.classList.add('visible');
      } else {
        orangeSection.classList.remove('visible');
      }
    });
  });
</script>
