<div class="weekly-calendar">
  <%# Display of the current month's name and year %>
  <h2 class="dash-h2">
    <%= Date::MONTHNAMES[@date.month] %> <%= @date.year %>
  </h2>

  <%# Links to navigate to the previous, current, or next week %>
  <div class="d-flex justify-content-around calander-weeks-links">
    <%= link_to "< Previous Week", user_calendars_week_path(user_id: @user.id, date: (@date - 1.week).to_s),
                data: { action: "click->weekly-calendar#change" } %>
    <%= link_to "This Week", user_calendars_week_path(user_id: @user.id, date: Date.today.to_s),
                data: { action: "click->weekly-calendar#change" } %>
    <%= link_to "Next Week >", user_calendars_week_path(user_id: @user.id, date: (@date + 1.week).to_s),
                data: { action: "click->weekly-calendar#change" } %>
  </div>

  <%# Container for the calendar table %>
  <div class="">
    <%# Get the dates for the entire week %>
    <% days_of_week = @date.all_week.to_a %>

    <table class="table table-bordered">
      <%# Table Header: Displays the days of the week %>
      <thead>
        <tr>
          <% days_of_week.each do |day| %>
            <th class="table-head text-center p-2">
              <b><%= day.strftime('%a') %></b><br>
              <b><%= day_num_ender(day.day) %></b>
            </th>
          <% end %>
        </tr>
      </thead>

      <%# Table Body: Displays the calendar grid for the week %>
      <tbody>
        <tr>
          <%# Iterate over each week in the days_of_week array %>
          <% days_of_week.each_slice(7) do |week| %>
            <% week.each do |day| %>
              <td class="text-center p-2 <%= today_highlighter(day) %>">
                <%# Add availabilities button  %>
                <div class="a+-btn+container">
                  <%= link_to "+Availability", "#", class: "a-availabilities-btn", data: { "bs-toggle": "modal", "bs-target": "#availabilityModal" } %>



<div id="availabilityModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
   <div class="availabilities-new-form">
  <h1 class="form-title"><b>New Availability</b></h1>
  <%= form_with(model: @availability, url: user_availabilities_path(current_user), local: true, html: { class: 'availability-form' }) do |form| %>

    <div class="form-row">
      <div class="col-md-6 form-field">
        <%= form.label :start_time, "Daily Start Date", class: 'form-label' %>
        <%= form.date_field :start_time, class: 'form-input' %>
      </div>
      <div class="col-md-6 form-field">
        <%= form.label :start_time_hour, "Start Time", class: 'form-label' %>
        <div class="time-fields">
          <div class="form-field">
            <%= form.select :start_time_hour, options_for_select((0..23).map { |h| ["%02d" % h, h] }), {}, class: 'form-input time-field' %>
          </div>
          <div class="form-field">
            <%= form.select :start_time_minute, options_for_select((0..3).map { |m| ["%02d" % (m * 15), m * 15] }), {}, class: 'form-input time-field' %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6 form-field">
        <%= form.label :end_time, "Daily End Date", class: 'form-label' %>
        <%= form.date_field :end_time, class: 'form-input' %>
      </div>
      <div class="col-md-6 form-field">
        <%= form.label :end_time_hour, "End Time", class: 'form-label' %>
        <div class="time-fields">
          <div class="form-field">
            <%= form.select :end_time_hour, options_for_select((0..23).map { |h| ["%02d" % h, h] }), {}, class: 'form-input time-field' %>
          </div>
          <div class="form-field">
            <%= form.select :end_time_minute, options_for_select((0..3).map { |m| ["%02d" % (m * 15), m * 15] }), {}, class: 'form-input time-field' %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-field">
      <%= form.label :recurrence, "Recurrence", class: 'form-label' %>
      <div class="recurrence-options">
        <%= form.radio_button :recurrence, 'once', checked: true, id: 'recurrence_once' %>
        <%= form.label :recurrence_once, "Only once", class: 'recurrence-label' %>

        <%= form.radio_button :recurrence, 'weekly', id: 'recurrence_weekly' %>
        <%= form.label :recurrence_weekly, "Weekly", class: 'recurrence-label' %>

        <%= form.radio_button :recurrence, 'monthly', id: 'recurrence_monthly' %>
        <%= form.label :recurrence_monthly, "Monthly", class: 'recurrence-label' %>
      </div>
    </div>

    <div class="form-actions">
      <%= form.submit 'Create Availability', class: 'form-submit' %>
    </div>
  <% end %>
</div>

  </div>
</div>

                </div>
                <%# Display availabilities for the current day %>
                <% @user.availabilities.where(start_time: day.all_day).each do |availability| %>
                  <div class="availability-div bg-info">
                    <p><strong>Availability:</strong> <%= availability.start_time.strftime("%I:%M %p") %></p>
                    <div class="b+-btn+container">
                       <%= link_to "+Booking", "#", class: "a-bookings-btn", data: { "bs-toggle": "modal", "bs-target": "#bookingModal" } %>

<div id="bookingModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
   <div class="bookings-new-form">
  <h1 class="form-title"><b>New Booking</b></h1>

  <%= form_with(model: @booking, url: user_bookings_path(current_user), local: true, html: { class: 'availability-form' }) do |form| %>

    <div class="form-row">
      <div class="col-md-6 form-field">
        <%= form.label :title, "Title", class: 'form-label' %>
        <%= form.text_field :title, required: true, class: 'form-input' %>
      </div>
      <div class="col-md-6 form-field form-field-client">
        <%= form.label :client_id, "Client", class: 'form-label' %>
        <%= form.collection_select :client_id, Client.all, :id, :name, { prompt: 'Select a client' }, { class: 'form-input' } %>
      </div>
    </div>

    <div class="form-field">
      <%= form.label :description, "Description", class: 'form-label' %>
      <%= form.text_area :description, class: 'form-input' %>
    </div>

    <div class="form-row">
      <div class="col-md-6 form-field">
        <%= form.label :date, "Date", class: 'form-label' %>
        <%= form.date_field :date, class: 'form-input' %>
      </div>

    </div>

    <div class="form-row">
       <div class="col-md-6 form-field">
        <%= form.label :start_time_hour, "Start Time", class: 'form-label' %>
        <div class="time-fields">
          <%= form.select :start_time_hour, options_for_select((0..23).map { |h| ["%02d" % h, h] }), {}, class: 'form-input time-field' %>
          <%= form.select :start_time_minute, options_for_select((0..3).map { |m| ["%02d" % (m * 15), m * 15] }), {}, class: 'form-input time-field' %>
        </div>
      </div>
      <div class="col-md-6 form-field">
        <%= form.label :end_time_hour, "End Time", class: 'form-label' %>
        <div class="time-fields">
          <%= form.select :end_time_hour, options_for_select((0..23).map { |h| ["%02d" % h, h] }), {}, class: 'form-input time-field' %>
          <%= form.select :end_time_minute, options_for_select((0..3).map { |m| ["%02d" % (m * 15), m * 15] }), {}, class: 'form-input time-field' %>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= form.submit 'Create Booking', class: 'form-submit' %>
    </div>

  <% end %>

  <%= link_to "Back to dashboard", dashboard_path(@user), class: "nav-button col-12" %>
</div>

  </div>
</div>


                </div>

                    <%# Display bookings for the current availability %>
                    <% @bookings.where(start_time: availability.start_time..availability.end_time).each do |booking| %>
                      <div class="d-flex justify-content-center">
                        <div class="card bg-light mb-3 week-card" style="max-width: 18rem;">
                          <div class="card-header">
                            <p>
                              <i class="fa-solid fa-clock"></i>
                              <%= booking.start_time.strftime("%I:%M%p") %> -
                              <%= booking.end_time.strftime("%I:%M%p") %>
                            </p>
                          </div>
                          <%# START BOOKING CARD %>
                          <div class="card-body">
                            <h5 class="card-title">
                              <i class="fa-solid fa-user"></i> w/ <strong><%= booking.client.name %></strong>
                            </h5>
                            <p class="card-text">
                              <%= booking.status.capitalize %>
                            </p>
                            <% if booking.user == current_user %>
                              <% if booking.status == "pending" %>
                                <div>
                                  <%= link_to 'Accept', accept_user_booking_path(user_id: booking.user_id, id: booking.id), class: "btn btn-success" %>
                                  <%= link_to 'Decline', decline_user_booking_path(user_id: booking.user_id, id: booking.id), class: "btn btn-danger" %>
                                </div>
                              <% end %>
                            <% end %>
                            <p></p>
                            <button type="button" class="btn btn-warning">
                              <%= link_to 'See more...', user_booking_path(user_id: booking.user_id, id: booking.id), class: "see-more" %>
                            </button>
                          </div>
                          <%# END BOOKING CARD %>
                        </div>
                      </div>
                    <% end %>
                    <p><%= availability.end_time.strftime("%I:%M %p") %></p>
                  </div>
                <% end %>
              </td>
            <% end %>

            <%# Fill in any missing days in the last row with empty cells %>
            <% if week.size < 7 %>
              <% (7 - week.size).times do %>
                <td class="text-center p-2"></td>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
