<div style="width: 75%; padding: 10px;">
  <h1>Chat with Student</h1>

  <%= form_with url: send_message_chat_index_path, method: :post, remote: true, data: { controller: "chat" } do |f| %>
    <div>
      <%= f.label :message, "Type your message:" %><br>
      <%= f.text_area :message, rows: 3, data: { chat_target: "input" } %>
    </div>

    <div>
      <%= f.submit "Send", data: { action: "click->chat#sendMessage" } %>
    </div>
  <% end %>

  <div data-controller="chat"
      data-chat-target="output"
      data-chat-current-user='<%= { user_id: current_user.id, first_name: current_user.first_name, last_name: current_user.last_name }.to_json.html_safe %>'
      data-action="turbo:load->chat#connect">
    <h2>Messages:</h2>
    <div id="messages-container">
      <% @messages.each do |message| %>
        <p><strong><%= message.sender %>:</strong> <%= message.contents %></p>
      <% end %>
    </div>
  </div>

</div>
