<div class="availabilities-new-form">
  <h1 class="form-title"><b>New Availability</b></h1>
  <%= form_with(model: @availability, url: user_availabilities_path(current_user), local: true, html: { class: 'availability-form' }) do |form| %>

    <div class="form-row">
      <div class="col-md-6 form-field">
        <%= form.label :start_time, "Start Date", class: 'form-label' %>
        <%= form.date_field :start_time, class: 'form-input' %>
      </div>
      <div class="col-md-6 form-field">
        <%= form.label :start_time_hour, "Start Time", class: 'form-label' %>
        <div class="time-fields">
          <div class="form-field">

            <%= form.select :start_time_hour, options_for_select((0..23).map { |h| ["%02d" % h, h] }), {}, class: 'form-input time-field' %>
          </div>
          <div class="form-field">

            <%= form.select :start_time_minute, options_for_select((0..3).map { |m| ["%02d" % (m * 15), m * 15] }), {}, class: 'form-input time-field' %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6 form-field">
        <%= form.label :end_time, "End Date", class: 'form-label' %>
        <%= form.date_field :end_time, class: 'form-input' %>
      </div>
      <div class="col-md-6 form-field">
        <%= form.label :end_time_hour, "End Time", class: 'form-label' %>
        <div class="time-fields">
          <div class="form-field">

            <%= form.select :end_time_hour, options_for_select((0..23).map { |h| ["%02d" % h, h] }), {}, class: 'form-input time-field' %>
          </div>
          <div class="form-field">

            <%= form.select :end_time_minute, options_for_select((0..3).map { |m| ["%02d" % (m * 15), m * 15] }), {}, class: 'form-input time-field' %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-field">
      <%= form.label :recurrence, "Recurrence", class: 'form-label' %><br>
      <%= form.radio_button :recurrence, 'once', checked: true %>
      <%= form.label :recurrence_once, "Only once", class: 'form-label' %><br>
      <%= form.radio_button :recurrence, 'weekly' %>
      <%= form.label :recurrence_weekly, "Weekly", class: 'form-label' %><br>
      <%= form.radio_button :recurrence, 'monthly' %>
      <%= form.label :recurrence_monthly, "Monthly", class: 'form-label' %>
    </div>

    <div class="form-actions">
      <%= form.submit 'Create Availability', class: 'form-submit' %>
    </div>
  <% end %>
</div>
