<div class="availabilities-new-form">
  <h1 class="form-title"><b>New Availability</b></h1>
  <%= form_with(model: @availability, url: user_availabilities_path(current_user), local: true, html: { class: 'availability-form' }) do |form| %>
  <div class="form-field">
    <%= form.label :start_time, "Start Date", class: 'form-label' %>
    <%= form.date_field :start_time, class: 'form-input' %>
  </div>

  <div class="form-field">
    <%= form.label :end_time, "End Date", class: 'form-label' %>
    <%= form.date_field :end_time, class: 'form-input' %>
  </div>

  <div class="form-field">
    <%= form.label :start_time_hour, "Start Time Hour", class: 'form-label' %>
    <%= form.select :start_time_hour, options_for_select((0..23).map { |h| ["%02d" % h, h] }), {}, class: 'form-input' %>
  </div>

  <div class="form-field">
    <%= form.label :start_time_minute, "Start Time Minute", class: 'form-label' %>
    <%= form.select :start_time_minute, options_for_select((0..3).map { |m| ["%02d" % (m * 15), m * 15] }), {}, class: 'form-input' %>
  </div>

  <div class="form-field">
    <%= form.label :end_time_hour, "End Time Hour", class: 'form-label' %>
    <%= form.select :end_time_hour, options_for_select((0..23).map { |h| ["%02d" % h, h] }), {}, class: 'form-input' %>
  </div>

  <div class="form-field">
    <%= form.label :end_time_minute, "End Time Minute", class: 'form-label' %>
    <%= form.select :end_time_minute, options_for_select((0..3).map { |m| ["%02d" % (m * 15), m * 15] }), {}, class: 'form-input' %>
  </div>

  </div>
    <div class="form-actions">
      <%= form.submit 'Create Availability', class: 'form-submit' %>
    </div>
  <% end %>
  <%# <%= link_to "My Dashboard", dashboard_path(@user), class: "nav-link text-orange" %>
</div>
