<!-- app/views/availabilities/new.html.erb -->
<h1 class="form-title"><b>New Availability</b></h1>
<%= form_with(model: @availability, url: user_availabilities_path(current_user), local: true, html: { class: 'availability-form' }) do |form| %>
  <div class="form-field">
    <%= form.label :start_date, "Start Date", class: 'form-label' %>
    <%= form.date_field :start_date, id: 'start_date', class: 'form-input' %>
  </div>
  <div class="form-field">
    <%= form.label :end_date, "End Date", class: 'form-label' %>
    <%= form.date_field :end_date, id: 'end_date', class: 'form-input' %>
  </div>
  <div class="form-field">
    <%= form.label :start_time, "Start Time", class: 'form-label' %>
    <%= form.time_field :start_time, id: 'start_time', class: 'form-input' %>
  </div>
  <div class="form-field">
    <%= form.label :end_time, "End Time", class: 'form-label' %>
    <%= form.time_field :end_time, id: 'end_time', class: 'form-input' %>
  </div>
  <div class="form-actions">
    <%= form.submit 'Create Availability', class: 'form-submit' %>
  </div>
<% end %>
<%# <%= link_to "My Dashboard", dashboard_path(@user), class: "nav-link text-orange" %>
